
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
<div style="font-family:Open Sans">
<div style="width:500px;margin:0 auto;padding:25px 0 25px 0">
    <div style="width:150px;padding:0 30px">
    <div>
        <img style="width:150px" src="https://dealsandservices.com/images/full-logo.png">
    </div>
</div>
<div style="padding:0px 30px">
    <div style="margin-top:30px;font-size:19px;font-weight:600">Hi <%= @name %></div>
    <br>
    <div style="font-size:15px">
        Thank you for getting started with us! Our team at  <a href="http://dealsandservices.com" target="_blank">dealsandservices.com</a>! appreciates your vote of confidence and we will try our best to create a pristine experience for you.
    </div>
    <div style="margin:30px 0">
        <div style="font-weight:800;font-size:18px;margin-bottom:5px">Your Info?</div>
        <div style="font-size:15px">
            <div style="margin:15px 0">
                <div style="font-style:italic;font-weight:600;padding-left:16px;border-left:5px solid #ccc">Contact Details</div>
                <div style="margin:8px 0;font-size:15px">
                    Email: <span><a href="mailto:<%= @customer_email %>" target="_blank"><%= @customer_email %></a></span>
                </div>
                <div style="margin:8px 0;font-size:15px">
                    Full Name: <span><%= @name %></span>
                </div>
                <div style="margin:8px 0;font-size:15px">
                    Phone: <span><%= @phone %></span>
                </div>
                <div style="margin:8px 0;font-size:15px">
                    Address: <span><%= @address %></span>
                </div>
            </div>
            <div style="margin:15px 0">
                <div style="font-style:italic;font-weight:600;padding-left:16px;border-left:5px solid #ccc">Order Details</div>
                <p><%= @notes.html_safe %></p>
            </div>
        </div>
    </div>
    <div style="margin:30px 0">
        <div style="font-weight:800;font-size:18px;margin-bottom:5px">Did we get it right?</div>
        <div style="font-size:15px">
            If you need to edit any of the above information Please email us at <a href="mailto:supratip@dealsandservices.com" target="_blank">supratip@dealsandservices.com</a>
        </div>
    </div>
    <div>Cheers<br><a href="http://dealsandservices.com" target="_blank">dealsandservices.com</a></div>
</div>
</div>
<div style="margin-top:50px;padding:12px 30px;text-align:center;background-color:#e2e2e2">
    <div style="margin:20px auto">
        <a style="padding:0 15px;text-decoration:none">
            <i style="color:grey;font-size:22px"></i>
        </a>
        <a style="padding:0 15px;text-decoration:none">
            <i style="color:grey;font-size:22px"></i>
        </a>
        <a style="padding:0 15px;text-decoration:none">
            <i style="color:grey;font-size:22px"></i>
        </a>
        <a style="padding:0 15px;text-decoration:none">
            <i style="color:grey;font-size:22px"></i>
        </a>
    </div>
    <hr style="display:block;margin:0 auto;width:250px;margin-bottom:17px;border:none;height:1px;background-color:#888">
    <div style="font-size:13px;color:grey;margin-bottom:16px">© 2018 BlueWaves Pvt. Ltd.</div>
    <div>
        <img style="width:150px" src="https://dealsandservices.com/images/full-logo.png">
    </div>
</div>
</div>
</body></html>